#outer
{
height:1500px;
width:1000px;
//border:1px solid;
margin:0 auto;
}
#menu
{
height:300px;
width:1000px;
background-image:url(road.jpg);
}
#menu1
{
height:70px;
width:1000px;
background-color:#5A5C59;
float:left;
}
#menu1 ul
{
list-style-type:none;
position:relative;
left:80px;
}
#menu1 ul li
{
display:inline;
//border:1px solid;
padding:10px;
position:relative;
left:40px;
}
#menu1 ul li a
{
text-decoration:none;
color:white;
}
#body
{
height:250px;
width:1000px;
//background-color:blue;
}
.event
{
height:220px;
width:180px;
background-color:#205678;
position:relative;
left:50px;
float:left;
}
.subpart
{
height:50px;
width:180px;
background-color:#0972EB;
}
#subbody
{
height:250px;
width:500px;
//background-color:purple;
float:left;
}
#body2
{
height:450px;
width:1000px;
background-color:#C4CECF;
}
#subbody2
{
height:450px;
width:750px;
background-color:#C4CECF;
float:left;
}
.event2
{
height:200px;
width:180px;
background-color:#205678;
position:relative;
left:30px;
float:left;
}
.txt
{
height:100px;
width:650px;
background-color:white;
position:relative;
left:100px;
}
#footer1
{
height:350px;
width:1000px;
background-color:white;
}
#footer2
{
height:150px;
width:1000px;
background-color:#2A7B9C;
}
